:root {
    --lh: 1.4rem;
}

html {
    scroll-behavior: smooth;
}

.bg-even {
    background-color: rgb(230, 230, 230);
}

.btn-wrap {
    word-break: break-word;
    white-space: normal;
}

#go-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.navbar {
    border-bottom: 1px solid rgba(204, 204, 204, 0);
    transition-duration: 0.3s;
}

.border-b {
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    transition-duration: 0.3s;
}

.text-box {
    line-height: var(--lh);
}

/* Ref: https://stackoverflow.com/a/19049457/1775459 */
.text-size-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
}



.bg-even .filter-btn {

    float: left;
    width: 100%;
    text-align: center;
}

.bg-even .filter-btn div {
    list-style: none;
    margin: 0;
    padding: 0;

}

.bg-even .filter-btn {
    padding: 30px 0px 40px;
}

.bg-even .filter-btn div button {
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 0px 1px;

}

.bg-even .filter-btn ul li.active {
    background-color: #28a745;
}

.bg-even .items {

    float: left;
    width: 100%;
}

.bg-even .items .box {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.bg-even .items .box .inner img {
    width: 100%;
}
