html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "PT Serif", serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 40px 150px 0;
  margin-bottom: -140px;
  background: linear-gradient(170.77deg, #373737 4.87%, #151515 69.92%);
}

.header__nav {
  margin-bottom: 10px;
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  font-size: 22px;
  line-height: 29px;
  margin-left: 25px;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-item a {
  color: #b1b1b1;
  text-decoration: none;
}

.header__nav-item a:hover {
  opacity: 0.5;
}

.header__social {
  position: absolute;
  top: 80px;
  left: 60px;
}

.header__social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__social-item {
  margin-bottom: 15px;
}

.header__social-item a:hover,
.header__social-item a:focus {
  opacity: 0.5;
}

.header__img-container {
  display: block;
  width: calc(100vw - 300px);
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(
    114.99deg,
    #b1b1b1 46.32%,
    rgba(55, 55, 55, 0) 63.97%
  );
}

.header__img {
  margin-left: 60px;
  object-fit: contain;
  object-position: top;
}

.header::after {
  position: relative;
  width: 100%;
  height: auto;
  left: -150px;
  top: -140px;
  content: url("../img/red-line.svg");
  object-fit: cover;
}

.header__title {
  position: absolute;
  right: 85px;
  top: 90px;
  display: flex;
  align-items: center;
  margin: 0;
  width: 340px;
  color: #eaeaea;
}

.header__title::after {
  position: absolute;
  bottom: 0;
  left: 95px;
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.header__title-name {
  display: inline-block;
  position: relative;
  margin-right: -11px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  transform: rotate(-90deg);
}

.header__title-surname {
  font-weight: bold;
  font-size: 96px;
  line-height: 124px;
}

.header__about {
  z-index: 1;
  position: absolute;
  right: 85px;
  top: 230px;
  width: 320px;
  color: #eaeaea;
  font-size: 22px;
  line-height: 27px;
}

.header__about::first-letter {
  font-size: 55px;
  padding: 15px 3px 6px;
  margin-right: 6px;
  float: left;
}

.header__register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  padding: 14px;
  margin-left: 30px;
  margin-top: 50px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__register-link:hover,
.header__register-link:focus {
  opacity: 0.5;
}

.main {
  position: relative;
  z-index: 1;
  padding: 50px 150px;
  background-color: #151515;
}

.train {
  color: #eaeaea;
}

.train__title {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
}

.train__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.train__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 113px;
  padding: 0 70px;
}

.train__container::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 15px;
  background-color: #eaeaea;
  transform: translate(-50%, -50%) rotate(45deg);
}

.train__text {
  font-size: 22px;
  line-height: 29px;
}

.train__text p {
  margin-top: 0;
}

.train__map {
  background-color: grey;
}

.news {
  color: #eaeaea;
}

.news__title {
  position: relative;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
}

.news__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.news__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 113px;
  row-gap: 50px;
  font-size: 22px;
  line-height: 29px;
  list-style: none;
}

.news__list::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 15px;
  width: 15px;
  background-color: #eaeaea;
  transform: translate(-50%, -50%) rotate(45deg);
}

.video {
  margin-bottom: 100px;
  color: #eaeaea;
}

.video__title {
  position: relative;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
}

.video__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.video__container {
  width: 980px;
  height: 379px;
  background: #252525;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 66px 150px 50px;
  margin-top: -16px;
  background-color: #9f2824;
}

.footer__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: #eaeaea;
}

.footer__title-name {
  display: inline-block;
  position: relative;
  margin-right: -11px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  transform: rotate(-90deg);
}

.footer__title-surname {
  font-weight: bold;
  font-size: 96px;
  line-height: 124px;
}

.footer__social-list {
  display: flex;
  list-style: none;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__social-item a:hover,
.footer__social-item a:focus {
  opacity: 0.5;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-item {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 25px;
}

.footer__nav-item a {
  color: #eaeaea;
  text-decoration: none;
  color: #eaeaea;
  text-decoration: none;
}

.footer__nav-item a:hover,
.footer__nav-item a:focus {
  opacity: 0.5;
}
