html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "PT Serif", serif;
  background-color: #373737;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: -webkit-paged-x;
  overflow: clip;
}

.header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  background: linear-gradient(170.77deg, #373737 4.87%, #151515 69.92%);
}

@media (min-width: 768px) {
  .header {
    padding: 40px 100px 100px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 40px 150px 200px;
  }
}

.header__nav-button {
  z-index: 3;
  position: fixed;
  top: 30px;
  right: 20px;
  height: 30px;
  width: 40px;
  padding: 0;
  border: none;
  background: transparent;
  overflow: hidden;
}

.header__nav-button::before,
.header__nav-button::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 40px;
  left: 0;
  border-radius: 2px;
  background-color: white;
}

.header__nav-button::before {
  top: 0;
  box-shadow: 0 13px 0 white;
}

.header__nav-button::after {
  bottom: 0;
}

.header__nav-button--open::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 40px;
  top: 13px;
  left: 0;
  border-radius: 2px;
  background-color: white;
  transform: rotate(45deg);
  box-shadow: none;
}

.header__nav-button--open::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 40px;
  bottom: 13px;
  left: 0;
  border-radius: 2px;
  background-color: white;
  transform: rotate(-45deg);
  box-shadow: none;
}

@media (min-width: 768px) {
  .header__nav-button {
    display: none;
  }
}

.header__nav {
  display: none;
}

@media (min-width: 768px) {
  .header__nav {
    display: block;
    margin-bottom: 10px;
  }
}

.header__nav--open {
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #373737;
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav--open .header__nav-list {
  padding: 100px;
  flex-direction: column;
  text-align: center;
}

.header__nav-item {
  font-size: 22px;
  line-height: 29px;
}

.header__nav-item:not(:first-child) {
  margin-left: 25px;
}

.header__nav--open .header__nav-item {
  margin-left: 0;
}

.header__nav--open .header__nav-item:not(:last-child) {
  margin-bottom: 25px;
}

.header__nav-item a {
  color: #b1b1b1;
  text-decoration: none;
}

.header__nav-item a:hover {
  opacity: 0.5;
}

.header__social {
  display: none;
}

@media (min-width: 768px) {
  .header__social {
    display: block;
    position: absolute;
    top: 80px;
    left: 60px;
  }
}

.header__social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__social-item:not(:last-child) {
  margin-bottom: 15px;
}

.header__social-item a:hover,
.header__social-item a:focus {
  opacity: 0.5;
}

.header__img-container {
  display: block;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(
    114.99deg,
    #b1b1b1 46.32%,
    rgba(55, 55, 55, 0) 63.97%
  );
}

.header__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top;
}

@media (min-width: 1200px) {
  .header__img {
    width: 560px;
    margin-left: 60px;
  }
}

.header__title {
  z-index: 2;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  background-color: #373737;
  color: #eaeaea;
}

@media (min-width: 768px) {
  .header__title {
    position: relative;
    margin-bottom: 50px;
    background: none;
  }

  .header__title::after {
    position: absolute;
    bottom: 0;
    left: 95px;
    content: "";
    width: 156px;
    height: 2px;
    background-color: #eaeaea;
  }
}

@media (min-width: 1200px) {
  .header__title {
    position: absolute;
    left: auto;
    right: 85px;
    top: 90px;
    width: 340px;
  }

  .header__title::after {
    position: absolute;
    bottom: 0;
    left: 95px;
    content: "";
    width: 156px;
    height: 2px;
    background-color: #eaeaea;
  }
}

.header__title-name {
  display: inline-block;
  position: relative;
  margin-right: -11px;
  font-weight: bold;
  font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  line-height: 31px;
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .header__title-name {
    margin-right: -11px;
    font-size: 24px;
    line-height: 31px;
  }
}

.header__title-surname {
  font-weight: bold;
  font-size: calc(68px + 6 * ((100vw - 320px) / 680));
  line-height: 74px;
}

@media (min-width: 768px) {
  .header__title-surname {
    font-size: 96px;
    line-height: 124px;
  }
}

.header__about {
  right: 85px;
  top: 230px;
  width: calc(100% - 20px);
  margin: 0 auto;
  color: #eaeaea;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .header__about {
    font-size: 22px;
    line-height: 27px;
  }
}

@media (min-width: 1200px) {
  .header__about {
    z-index: 1;
    position: absolute;
    right: 85px;
    top: 230px;
    width: 320px;
  }
}

.header__about::first-letter {
  font-size: 55px;
  padding: 15px 3px 6px;
  margin-right: 6px;
  float: left;
}

.header__register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  padding: 14px;
  margin: 40px auto 50px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__register-link:hover,
.header__register-link:focus {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .header__register-link {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.main {
  position: relative;
  padding: 0 10px 100px;
  background-color: #151515;
}

@media (min-width: 768px) {
  .main {
    padding-bottom: 200px;
  }
}

.train {
  color: #eaeaea;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .train {
    margin-bottom: 200px;
  }
}

.train__title {
  z-index: 0;
  position: relative;
  margin-top: 0;
  margin-bottom: 140px;
  font-weight: bold;
  font-size: calc(48px + 6 * ((100vw - 320px) / 680));
  line-height: calc(54px + 6 * ((100vw - 320px) / 680));
  text-align: center;
}

.train__title::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(120%);
  height: 200px;
  top: -60px;
  left: -40px;
  background-image: linear-gradient(
      rgb(159, 40, 36, 0.8),
      rgb(159, 40, 36, 0.5)
    ),
    url("../img/classes-title-bg.jpg");
  background-size: cover;
  transform: rotate(-7deg);
}

@media (min-width: 768px) {
  .train__title::before {
    height: 300px;
    top: -110px;
  }
}
@media (min-width: 1200px) {
  .train__title::before {
    height: 400px;
    width: 1400px;
    top: -265px;
  }
}

.train__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.train__container {
  position: relative;
}

@media (min-width: 768px) {
  .train__container {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .train__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 113px;
    padding: 0 70px;
  }
}

@media (min-width: 1200px) {
  .train__container::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    background-color: #eaeaea;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.train__text {
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .train__text {
    font-size: 22px;
    line-height: 29px;
  }
}

.train__text p {
  margin-top: 0;
}

.train__map {
  background-color: grey;
}

.news {
  color: #eaeaea;
  margin-bottom: 50px;
}

.news__title {
  z-index: 0;
  position: relative;
  margin-bottom: 120px;
  font-weight: bold;
  font-size: calc(48px + 6 * ((100vw - 320px) / 680));
  line-height: calc(54px + 6 * ((100vw - 320px) / 680));
  text-align: center;
}

.news__title::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(120%);
  height: 200px;
  top: -60px;
  left: -40px;
  background-image: linear-gradient(
      rgb(159, 40, 36, 0.8),
      rgb(159, 40, 36, 0.5)
    ),
    url("../img/classes-title-bg.jpg");
  background-size: cover;
  transform: rotate(-7deg);
}

@media (min-width: 768px) {
  .news__title {
    font-size: 64px;
    line-height: 83px;
  }
}

@media (min-width: 768px) {
  .news__title::before {
    height: 300px;
    top: -110px;
  }
}

@media (min-width: 1200px) {
  .news__title::before {
    height: 400px;
    width: 1400px;
  }
}

.news__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.news__list {
  position: relative;
  display: grid;
  padding: 0;
  row-gap: 50px;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

@media (min-width: 768px) {
  .news__list {
    padding: 0 100px;
    font-size: 22px;
    line-height: 29px;
  }
}

@media (min-width: 1200px) {
  .news__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 113px;
  }
}

.news__item {
  position: relative;
}

.news__item::after {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 50%;
  height: 15px;
  width: 15px;
  background-color: #eaeaea;
  transform: translate(-50%, -50%) rotate(45deg);
}

.news__item:last-child::after {
  display: none;
}

@media (min-width: 1200px) {
  .news__item:nth-last-child(2)::after {
    display: none;
  }
}

.video {
  color: #eaeaea;
}

.video__title {
  z-index: 0;
  position: relative;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: calc(48px + 6 * ((100vw - 320px) / 680));
  line-height: calc(54px + 6 * ((100vw - 320px) / 680));
  text-align: center;
}

@media (min-width: 768px) {
  .video__title {
    font-size: 64px;
    line-height: 83px;
  }
}

.video__title::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 156px;
  height: 2px;
  background-color: #eaeaea;
}

.video__container {
  width: 100%;
  height: 379px;
  background: #252525;
}

@media (min-width: 1200px) {
  .video__container {
    width: 980px;
    height: 379px;
    margin: 0 auto;
  }
}

.footer {
  position: relative;
  padding: 30px 10px 50px;
  background-color: #9f2824;
}

.footer::before {
  content: "";
  position: absolute;
  width: calc(120%);
  height: calc(360px + 70 * (100vw / 768));
  top: calc(-40px - 27 * (100vw / 768));
  left: -35px;
  background-image: linear-gradient(
      rgb(159, 40, 36, 0.8),
      rgb(159, 40, 36, 0.5)
    ),
    url("../img/classes-title-bg.jpg");
  background-size: cover;
  transform: rotate(-7deg);
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 66px 90px 50px;
    margin-top: -16px;
  }
}

.footer__left,
.footer__right {
  z-index: 1;
  position: relative;
}

.footer__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: #eaeaea;
}

.footer__title-name {
  display: inline-block;
  position: relative;
  margin-right: -11px;
  font-weight: bold;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  line-height: 31px;
  transform: rotate(-90deg);
}

.footer__title-surname {
  font-weight: bold;
  font-size: calc(78px + 6 * ((100vw - 320px) / 680));
  line-height: 98px;
}

@media (min-width: 768px) {
  .footer__title-name {
    font-size: 24px;
    line-height: 31px;
  }

  .footer__title-surname {
    font-size: 96px;
    line-height: 124px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 40px;
  list-style: none;
}

.footer__social-item:not(:last-child) {
  margin-right: 30px;
}

.footer__social-item svg {
  width: 22px;
  height: auto;
}

.footer__social-item a:hover,
.footer__social-item a:focus {
  opacity: 0.5;
}

.footer__right {
  display: none;
}

@media (min-width: 768px) {
  .footer__right {
    display: block;
    margin-right: 40px;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-item {
  font-size: 22px;
  line-height: 29px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 25px;
}

.footer__nav-item a {
  color: #eaeaea;
  text-decoration: none;
  color: #eaeaea;
  text-decoration: none;
}

.footer__nav-item a:hover,
.footer__nav-item a:focus {
  opacity: 0.5;
}
